__pycache__/

# NEW MODULES
do_scrape.py
route_optimizer.ipynb
prova.py

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode

# pytest
.pytest_cache

# custom
backups
private
scrapes_csv
test.py
sql_queries
emanuele

# logging
logs/

# database backups
db_backups
